<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt OCR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Receipt OCR</h1>
        <form id="ocrForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select an image:</label>
                <input type="file" id="file" name="file" accept="image/*" required>
            </div>
            <!-- <div class="form-group">
                <label for="michelobAPiKey">Enter your API key:</label>
                <input type="text" id="michelobAPiKey" name="michelobAPiKey" required>
            </div> -->
            <button type="submit" id="submitBtn">Submit</button>
            <div id="loader" class="loader" style="display: none;"></div> 
            
            <!-- Loader element -->
        </form>

        
        <div class="response" id="responseContainer" style="display: none;">
            <div id="executionTime"></div> 
            <h2>Response:</h2>
            <code id="responseCode"></code> 
        </div>
        <!-- <div id="executionTime"></div> Move this div here -->
    </div>

    <script>
        document.getElementById('ocrForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);
            var submitBtn = document.getElementById('submitBtn');
            var loader = document.getElementById('loader');
            var startTime = new Date().getTime(); // Record start time
    
            // Clear past response
            document.getElementById('responseCode').textContent = '';
            document.getElementById('responseContainer').style.display = 'none';
    
            submitBtn.style.backgroundColor = '#cccccc'; // Change button color to grey
            loader.style.display = 'block'; // Display loader
    
            fetch('/api/computervision/es/receipt-ocr', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    var endTime = new Date().getTime(); // Record end time
                    var executionTime = (endTime - startTime) / 1000; // Calculate execution time in seconds
                    document.getElementById('responseCode').textContent = JSON.stringify(data, null, 2);
                    document.getElementById('responseContainer').style.display = 'block';
                    document.getElementById('executionTime').textContent = 'Execution Time: ' + executionTime + ' seconds'; // Display execution time
                    submitBtn.style.backgroundColor = ''; // Reset button color
                    loader.style.display = 'none'; // Hide loader
                })
                .catch(error => {
                    console.error('Error:', error);
                    submitBtn.style.backgroundColor = ''; // Reset button color in case of error
                    loader.style.display = 'none'; // Hide loader in case of error
                });
        });
    </script>
    
    
</body>

</html>
