<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt OCR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Receipt OCR</h1>
        <form id="ocrForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select an image:</label>
                <input type="file" id="file" name="file" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="michelobAPiKey">Enter your API key:</label>
                <input type="text" id="michelobAPiKey" name="michelobAPiKey" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <div class="response" id="responseContainer" style="display: none;">
            <h2>Response:</h2>
            <code id="responseCode"></code>
        </div>
    </div>

    <script>
        document.getElementById('ocrForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);

            fetch('/api/computervision/es/receipt-ocr', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('responseCode').textContent = JSON.stringify(data, null, 2);
                    document.getElementById('responseContainer').style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>

</html>